<%= flash[:notice] %>
<p>Title:<%= @book.title %></p>

<p>Body: <%= @book.body %></p>


<table>
    <tr>
        <td><%= link_to "Edit", edit_book_path(@book.id) %> </td>
        <td>|</td>
        <td><%= link_to "Back", books_path %></td>
    </tr>
</table>